<div class="flex justify-content-evenly align-items-center">
  <div class="big-select-block">
    <h2 class="h1">Документация</h2>
    <p class="my-15">Выдержки и информация из статей, книг, видеоматериалов, подкастов и т.д.</p>
    <a href="/docs" class="font-size-20">Перейти</a>
  </div>
  <div class="big-select-block">
    <h2 class="h1">Список книг</h2>
    <p class="my-15">Таблица прочитанных и запланированных книг с комментариями.</p>
    <a href="/reading-list" class="font-size-20">Перейти</a>
  </div>
</div>